.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../../assets/images/personIcon.png');
  background-size: cover;
}

* {
      direction: rtl;
    }
    .black-bg {
       border-radius: 10px; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* הילה אחורית */
}