<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button>
  <span>מתכונים</span>
  <span class="example-spacer"></span>

  <button mat-button routerLink="/recipe/allRecipe">כל המתכונים  </button>
  <button mat-button routerLink="/recipe/addRecipe">הוסף מתכון  </button>

  <button mat-button routerLink="/login/login">כניסה  </button>
  <button mat-button routerLink="/login/register">הרשמה  </button>
  <button mat-button routerLink="/login/logout">יציאה  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  </svg></button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <span class="example-spacer"></span>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>