<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>הוספת מתכון חדש</title>
  <!-- הוספת Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-2+ZI/Gd5Fb+F62JoYi2rB5ccK5AwLfGA66IjQwbIYMyEvMviv8w6tN94zwL6XjJclrtbCmVPdUsGniH+R5Z32w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* סגנונות מותאמים אישית */
    .btn-custom {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
      background-color: #0056b3;
    }
    #backgroundImage {
      display: block;
      position: fixed;
      width: 100%;
    }
    #myImage{
      display: block;
      position: absolute;
      opacity: 0.9;
      width: 100%;
    }
    body{
      color: #fff;
    }
    *{
      direction: rtl;
    }

  </style>
</head>
<body>
  <div id="backgroundImage">
    <img id="myImage" src="https://cdn.pixabay.com/photo/2016/02/25/22/56/strawberries-1223150_640.jpg">
    </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form [formGroup]="addRecipeForm">
          <h1 class="text-center">הוספת מתכון חדש</h1>
          <div class="form-group">
            <label for="recipeName">שם המתכון:</label>
            <input type="text" id="recipeName" formControlName="recipeName" class="form-control">
          </div>
          <div class="form-group">
            <label for="recipeName">ניתוב תמונה :</label>
            <input type="text" value={{this.addRecipeForm.value.imageRouting}} id="imageRouting"
              formControlName="imageRouting" class="form-control">
          </div>
          <div class="form-group">
            <label for="categoryId">קטגוריה:</label>
            <select id="categoryId" formControlName="categoryId" class="form-control">
              <option value="">בחר קטגוריה...</option>
              <option *ngFor="let category of categories" [value]="category.categoryId">{{category?.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="preparationTime">זמן הכנה (דקות):</label>
            <input type="number" id="preparationTime" formControlName="preparationTime" class="form-control">
          </div>

          <div class="form-group">
            <label for="difficultyLevel">רמת קושי:</label>
            <select id="difficultyLevel" formControlName="difficultyLevel" class="form-control">
              <option value="">בחר רמת קושי...</option>
              <option value="1">קל</option>
              <option value="2">בינוני</option>
              <option value="3">קשה</option>
              <option value="4">קשה מאד</option>
              <option value="5">מורכב</option>
            </select>
          </div>

          <div class="form-group">
            <label for="ingredients">מרכיבים:</label>
            <div formArrayName="ingredients">
              <div *ngFor="let ingredient of ingredients.controls; let i = index" class="ingredient-row">
                <input type="text" [(ngModel)]="ingredient.value" class="form-control mb-2" placeholder="הזן מרכיב">
               <i (click)="removeIngredient(i)" class="material-icons">delete</i>
               <i (click)="addIngredient()" class="material-icons">add_circle</i>
              </div>
             
            </div>
          </div>

          <div class="form-group">
            <label for="preparationSteps">הוראות הכנה:</label>
            <div formArrayName="preparationSteps">
              <div *ngFor="let PreparationStep of preparationSteps.controls; let i = index" class="instruction-row">
                <input type="text" [(ngModel)]="PreparationStep.value" class="form-control mb-2" placeholder="הזן הוראה">
                <i (click)="removeInstruction(i)" class="material-icons">delete</i>
               <i (click)="addInstruction()" class="material-icons">add_circle</i>
              </div>
              
            </div>
          </div>

          <button type="submit" (click)="onSubmit()" class="btn btn-custom btn-block">שמור</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
